<h2>Webhook Settings</h2>
<form class="form-horizontal">
    <div class="control-group">
        <!-- ------------------ -->
        <!-- ------------------ -->
        <!-- WEBHOOK PARAMETERS -->
        <!-- ------------------ -->
        <!-- ------------------ -->
        <h4 class="control-header">Webhook Parameters</h4>
        <label class="control-label">{{ _('URL') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.settings.plugins.webhooks.url">
        </div>
        <div class="control-description">
            This URL will be called whenever one of the enabled events below is triggered.
        </div>

        <label class="control-label">{{ _('API SECRET') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.settings.plugins.webhooks.apiSecret">
        </div>
        <div class="control-description">
            This secret will be passed along with every webhook. You can use this to verify that the webhook is
            coming from the OctoPrint server. 15-20 random characters should do it.
        </div>

        <label class="control-label">{{ _('DEVICE IDENTIFIER') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.settings.plugins.webhooks.deviceIdentifier">
        </div>
        <div class="control-description">
            If you have multiple printers sending webhooks to the same server, this device identifier will
            help you distinguish between them. Something like 'Printer1' should work.
        </div>

        <!-- ---------- -->
        <!-- ---------- -->
        <!-- EVENT LIST -->
        <!-- ---------- -->
        <!-- ---------- -->
        <h4 class="control-header" style="margin-bottom:20px">Events</h4>

        <div class="control-group">
            <label class="control-label">{{ _('PRINT STARTED') }}</label>
            <div class="controls">
                <input type="checkbox" data-bind="checked: settings.settings.plugins.webhooks.eventPrintStarted">
                <span class="control-description2">
                    This is called when a print is started.
                </span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">{{ _('PRINT DONE') }}</label>
            <div class="controls">
                <input type="checkbox" data-bind="checked: settings.settings.plugins.webhooks.eventPrintDone">
                <span class="control-description2">
                    This is called when a print has finished.
                </span>
            </div>
        </div>


        <div class="control-group">
            <label class="control-label">{{ _('PRINT FAILED') }}</label>
            <div class="controls">
                <input type="checkbox" data-bind="checked: settings.settings.plugins.webhooks.eventPrintFailed">
                <span class="control-description2">
                    This is called when a print has failed.
                </span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">{{ _('PRINT PAUSED') }}</label>
            <div class="controls">
                <input type="checkbox" data-bind="checked: settings.settings.plugins.webhooks.eventPrintPaused">
                <span class="control-description2">
                    This is called when a print has been paused.
                </span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">{{ _('USER ACTION NEEDED') }}</label>
            <div class="controls">
                <input type="checkbox" data-bind="checked: settings.settings.plugins.webhooks.eventUserActionNeeded">
                <span class="control-description2">
                    This is called when user action is needed.
                    Can be used with a Prusa printer when a color change is necessary.
                </span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">{{ _('ERROR') }}</label>
            <div class="controls">
                <input type="checkbox" data-bind="checked: settings.settings.plugins.webhooks.eventError">
                <span class="control-description2">
                    This is called when some error has occurred. Can occur due to server troubles, plugins, ...
                </span>
            </div>
        </div>

        <!-- -------- -->
        <!-- -------- -->
        <!-- ADVANCED -->
        <!-- -------- -->
        <!-- -------- -->
        <h4 class="control-header" style="margin-bottom:20px">Advanced</h4>

        <label class="control-label">{{ _('HEADERS') }}</label>
        <div class="controls">
            <button type="button" class="input-button" data-bind="click: resetHeadersToDefaults">Reset to Defaults</button>
            <textarea class="input-block-level" rows="3" data-bind="value: settings.settings.plugins.webhooks.headers">
            </textarea>
        </div>
        <div class="control-description">
            Provide a JSON dictionary of parameters that will be passed along with each request. Use @param to insert
            variables into the JSON. See the
            <a target="_blank" href="https://github.com/2blane/OctoPrint-Webhooks#advanced-configuration">README</a>
            for more details.
        </div>

        <label class="control-label">{{ _('DATA') }}</label>
        <div class="controls">
            <button type="button" class="input-button" data-bind="click: resetDataToDefaults">Reset to Defaults</button>
            <textarea class="input-block-level" rows="7" data-bind="value: settings.settings.plugins.webhooks.data">
            </textarea>
        </div>
        <div class="control-description">
            Provide a JSON dictionary of parameters that will be passed along with each request. Use @param to insert
            variables into the JSON. See the
            <a target="_blank" href="https://github.com/2blane/OctoPrint-Webhooks#advanced-configuration">README</a>
            for more details.
        </div>
    </div>
</form>
