.control-description {
    margin:2px 0px 20px 180px;
}
.control-description2 {
    vertical-align: -webkit-baseline-middle;
    padding-left: 8px;
}
.control-header {
    margin: 40px 0px 0px 0px;
}
.input-button {
    margin-bottom: 10px;
    background: white;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 3px 30px;
    color: black;
}
.input-button:active {
    color: black;
    background: #cacbcd;
}
.oAuthContainer {
    display: none;
}
.oAuthContainerBlock {
    display: block !important;
}
.controls-center {
    margin: 0px auto;
    text-align: center;
}
.control-header-description {
    margin: 10px 0px 10px 0px;
}
.progressBlock {
    display: block;
}
.progressHidden {
    display: none;
}
.control-group-event {
    margin-bottom: 5px;
}
